<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn1" connectionString="app" providerName="Microsoft.Data"/>
    <add name="conn2" connectionString="app" providerName="Microsoft.Data"/>
  </connectionStrings>
  <appSettings>
    <add key="BuildConfiguration" value="Debug" />
    <add key="test1" value="app" />
    <add key="test2" value="app" />
    <add key="test3" value="app" />
  </appSettings>
</configuration>