<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn1" connectionString="local" providerName="Microsoft.Data"/>
    <add name="conn3" connectionString="local" providerName="Microsoft.Data"/>
  </connectionStrings>
  <appSettings>
    <add key="test1" value="local" />
    <add key="test2" value="local" />
  </appSettings>
</con>