<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn1" connectionString="active" providerName="Microsoft.Data"/>
  </connectionStrings>
  <appSettings>
    <add key="test3" value="active" />
    <add key="test4" value="active" />
  </appSettings>
</configuration>